/* ==UserStyle==
@name           No More Cursive
@namespace      github.com/openstyles/stylus
@version        1.0.4
@updateURL	https://raw.githubusercontent.com/Nadia8666/Connections-Dark/main/NoMoreCursive.css
@description   	RemoveAllCursive
@author         Me
@match		*connexus.com/*
@match		https://*.connexus.com/*
@include		https://*.connexus.com/*
@include		https://www.connexus.com/*
==/UserStyle== */

.span {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
.p {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
.h1 {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
.h2 {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
.h3 {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
.h4 {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}

span {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
p {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
h1 {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
h2 {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
h3 {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
h4 {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}
