/* ==UserStyle==
@name           No More Cursive
@namespace      github.com/openstyles/stylus
@version        1.0.1
@updateURL	https://github.com/Nadia8666/Connections-Dark/blob/main/NoMoreCursive.css
@description   	RemoveAllCursive
@author         Me
@match		*://connexus.com/*
==/UserStyle== */

.span::after {
	font-family: "Arial", sans-serif !important;
}
.p::after {
	font-family: "Arial", sans-serif !important;
}
.h1::after {
	font-family: "Arial", sans-serif !important;
}
.h2::after {
	font-family: "Arial", sans-serif !important;
}
.h3::after {
	font-family: "Arial", sans-serif !important;
}
.h4::after {
	font-family: "Arial", sans-serif !important;
}

span::after {
	font-family: "Arial", sans-serif !important;
}
p::after {
	font-family: "Arial", sans-serif !important;
}
h1::after {
	font-family: "Arial", sans-serif !important;
}
h2::after {
	font-family: "Arial", sans-serif !important;
}
h3::after {
	font-family: "Arial", sans-serif !important;
}
h4::after {
	font-family: "Arial", sans-serif !important;
}
