/* ==UserStyle==
@name           No More Cursive
@namespace      github.com/openstyles/stylus
@version        1.0.5
@updateURL	https://raw.githubusercontent.com/Nadia8666/Connections-Dark/main/NoMoreCursive.css
@description   	RemoveAllCursive
@author         Me
@match		*connexus.com/*
@match		https://*.connexus.com/*
@include		https://*.connexus.com/*
@include		https://www.connexus.com/*
==/UserStyle== */

.span {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}

span {
	font-family: "Arial", sans-serif !important;
	font-size: 22px;
}

